body{
    margin: 0;
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 480px;
}

table, td{
    border-left: black 2px solid;
    border-right: black 2px solid;
    border-collapse:collapse;
    padding: 2px;
    background-color: grey;
}

table td a{
    color: white;
    text-decoration: none;
}