div{
    border: 8px solid blue;
    border-radius: 5px;
    border-collapse: collapse;
}

h3{
    margin-left: 4px;

}

p{
    margin-left: 4px;
    color: grey;
}

h2{
    text-align: center;
}

.texto{
    margin-top: 2%;
}