iframe{
    margin-top: 2px;
}

nav a{
    color: blue;
    box-sizing:content-box;
    margin-left: 1%;
    text-decoration: none;
    padding: 2%;
    font-style: bold;
    font-size: 20px;
}

nav a:hover{
    color:white;
    background-color: blue;
}

section{
    margin:0;
}