header{
    
}



a{
    color: blue;
    box-sizing:content-box;
    margin-left: 1%;
    text-decoration: none;
    padding: 2%;
    font-style: bold;
    font-size: 20px;

    
}

a:hover{
    color:white;
    background-color: blue;
}

section{
    margin:0;
}