body{
    background-color: rgba(238, 255, 0, 0.349);
}

.titulo{
    font-style: italic;
    font-size: 50px;
    background-image: linear-gradient(150deg, rgb(206, 238, 19), rgb(255, 106, 0));        
    margin: auto;
    text-align: center;
}
